 html {

 }
 html,body {
 	height: 100%;
 	font-family: 'Quicksand', sans-serif;
 	margin:0;
 }
 
 #overlay {
 	display:none;
 	position:fixed;
 	z-index:8;
 	top:0;
 	left:0;
 	min-height:100vh;
 	width:100%;
 	background-color: rgba(0,0,0,.7);
 }
 body {
 	margin: 0;
 	display: flex;
 	flex-direction: column;
 }

 .main {
 	color: white;
 	flex: 1 0 auto;
 }

.header {
	color: #ffffff;
	font-weight:bold;
	z-index:10;
}

.bk {
	background: #000000; /* Old browsers */
	opacity:1;
}

.flex_header {
	display:flex;
	align-items:center;
	justify-content:center;
	list-style-type: none;
	padding-left: 20px;
	margin: 0 auto 0 auto;
	height: 50px;
}

.flex_header li {
	padding: 0 20px 0 20px;
}
.flex_header li a {
	text-decoration: inherit;
	color:inherit;
	font-size: 1.3em;
}

.flex_header li a:hover {
	text-decoration:underline;
}
#hamburger {
	display:none;
	padding: 2% 2% 2% 0;
}

#hamburger div {
	width: 30px;
	height: 3px;
	background-color: black;
	margin: 5px 0px 0px 5px;
}

#mobilemenu {
	display:none;
	position:fixed;
	top:0;
	left:0;
	background-color: #EFEEEE;
	color: #000000;
	width:70%;
	z-index:9;
	height:100%;
	margin:0;
	padding:0;
}

.mobile_flex_header {
	display:flex;
	height:100%;
	flex-direction:column;
	justify-content:left;
	list-style-type:none;
	align-content:space-around;
	padding:0;
	margin:0;
}

.mobile_flex_header li {
	padding:10% 0 10% 0%;
	text-align:center;
}

.mobile_flex_header li a {
	flex-grow:1;
	text-decoration: inherit;
	color:inherit;
	font-size: 1.5em;
	font-weight:bold;
	align-self:center;
}

.mobile_flex_header li:hover {
	background-color:rgba(0,0,0,.2);	
}

#closemobile {
	font-size:1em;
}
.primary {
 	display: flex;
 	flex-direction: column;
 	flex-wrap: wrap;
 	align-items: center;
 }

.picture_side {
 	margin-top:2vh;
 }
.qrpic {
	width:80vh;
}
.text_side {
	text-align:center;
	color:#000000;
	margin: 3vh auto 0 auto;
	flex-grow:1;
	font-size:1.6em;
}

.text_side_2 {
	color:#000000;
	font-size:2.2em;
	text-align:center;
}
.date {
}
.event_title {
	font-size: 2.8em;
	padding-bottom:2%;
}

footer {
	flex-shrink:0;
	background-color: #000000;
	font-size:.5em;
	color: #ffffff;
	padding: 5px 0 5px 5px;
	max-height: 20px;
	z-index: 10;
}

footer div {
	float:right;
	padding-right:5px;
}

footer a {
	color: #FFFFFF;
	text-decoration:none;
}

footer a:hover {
	text-decoration: underline;
	color: red;
}

#modal {
	display: none; /* Hidden by default */
  	position: fixed; /* Stay in place */
  	z-index: 10; /* Sit on top */
  	left: 0;
  	top: 0;
  	width: 100%; /* Full width */
  	height: 100%; /* Full height */
  	overflow: auto; /* Enable scroll if needed */
  	color: #000000;
  	background-color: rgba(0,0,0,.3);
}

form div {
	margin: 5px;
}

#modal_content {
	background-color:#ffffff;
	width:70%;
	margin: 10% auto 0 auto;
	padding: 2% 5% 2% 5%;
	overflow-y:auto;
	max-height: 60%;
}
#modal_close {
	float:right;
	font-weight:bold;
	font-size:30px;
}

#modal_close:hover,#modal_close:focus {
	cursor:pointer;
}

@media only screen and (max-width: 550px) {
	.bk {
		background: #ffffff;
	}
	.flex_header {
		justify-content:left;
	}
	
	.flex_header li a {
		display:none;
	}
	#hamburger {
		display: block;
		color: black;
	}
	form div {
		font-size:1.1em;
	}

	form button {
		color: black;
    	background-color: white;
    	border: 1px solid black;
   		width: 100%;
    	height: 3em;
	}

	form .m_text {
		height:2em;
		width:100%;
	}
	.primary {
		flex-direction:row;
		justify-content:center;
		padding-top:1%;
	}
	.text_side {
		font-size:1.1em;
		margin:0 2% 0 2%;
	}
	.text_side_2{
		padding-top:1%;
	}

	.qrpic {
		width:100%
	}

	#modal_content {
		width:85%;
		max-height:70%;
	}

}

@media only screen and (min-width: 550px) {
	#mobilemenu{
		display:none;
	}
}